-
  const cardContent = [
    {
      Name:'K-scaffold',
      cardType:'2',
      Categories:'Roll20 / Character Sheets',
      Languages:'JS / PUG',
      image:'kscaffold.png',
      imageAlt:'K-scaffold mixins',
      content:[],
      repositoryLink:'https://github.com/Kurohyou/Roll20-Snippets/tree/main/K_Scaffold'
    },
    {
      Name:'Roll20 Autocode',
      cardType:'2',
      Categories:'Roll20 / Extensions',
      Languages:'JS / CSS / HTML',
      image:'R20Auto.png',
      imageAlt:'Roll20 Autocode interface',
      content:[],
      repositoryLink:'https://github.com/Kurohyou-Studios/R20AutoCode',
      siteLink:'https://chrome.google.com/webstore/detail/roll20-api-and-sheet-auto/hboggmcfmaakkifgifjbccnpfmnegick'
    },
    {
      Name:'Starfinder Sheet by Roll20',
      cardType:'2',
      Categories:'Roll20 / Character Sheets',
      Languages:'JS / CSS / HTML',
      image:'starfinder.PNG',
      imageAlt:'Starfinder Character Sheet',
      content:[],
      repositoryLink:'https://github.com/Roll20/roll20-character-sheets/tree/master/Starfinder%20by%20Roll20',
      siteLink:'https://app.roll20.net/join/11351413/O7LTIA'
    },
    {
      Name:'Official Genefunk 2090 Character Sheet',
      cardType:'2',
      Categories:'Roll20 / Character Sheets',
      Languages:'JS / PUG / HTML / CSS',
      image:'genefunk.PNG',
      imageAlt:'Genefunk 2090 Character Sheet',
      content:[],
      repositoryLink:'https://github.com/Roll20/roll20-character-sheets/tree/master/Genefunk%202090',
      siteLink:'https://app.roll20.net/join/7285716/DvOIzw'
    }
  ];