%sectionPadding{
  padding:var(--half-gap);
}
%flex{
  display:flex;
  flex-wrap:wrap;
  gap:var(--half-gap);
  align-items:center;
}
%sectionArrange{
  > *{
    padding-top:var(--half-gap);
  }
  > .sectionHeader{
    grid-column:1;
    margin-top:0;
  }
  > :not(.sectionHeader){
    grid-column:2;
  }
  > h3{
    justify-self:end;
    text-align:right;
  }
  &:not(:first-child){
    > :is(.h2,h2),
    > :is(.h2,h2) + :not(.sectionHeader){
      border-top:5px solid black;
    }
  }
}
%shadowHover{
  --dropShadow: drop-shadow(rgba(0, 0, 0, 0.19) 0px 10px 20px) drop-shadow(rgba(0, 0, 0, 0.23) 0px 6px 6px);
  z-index:10;
  --textBackColor:hsla(188, 100%, 15%,1);
  transform:scale(1.02);
}